<nav role="navigation">

		<ul>
			<li><a id="brand" href="/">ClickyBot</a></li>
			<li><span id="clearFloar"></span></li>

			<li><a class="main" href="/scrape" onclick="hideButton()">More articles</a></li>
			<li><a class="main" href="/all">API</a></li>
			<li><a class="main" href="/none">Delete All (admin)</a></li>
		</ul>
	  
</nav>