<nav role="navigation">

		<ul>
			<li><a id="brand" href="/">News Scraper</a></li>
			<li><a href="/scrape">More articles</a></li>
			<li><a href="/all">API</a></li>
			<li><a href="/none">Delete All (admin)</a></li>
		</ul>
	  
</nav>