<meta charset="UTF-8">
<title>News Scraper</title>

<!-- CSS reset file -->
<link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">

<!-- Bootstrap if needed -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- my style sheet -->

<style>


</style>