<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="mainContent">
			<!-- if there are no news stories yet -->
			<button id="getNewsButton" onclick="location.href='/scrape'">Out of the loop? Get some stories.</button>
			
			<div id="newsContent">
                <!-- News stories populate here -->
            </div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
		<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
		<script src="../assets/app.js"></script>
</body>
</html>